.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(18, 18, 18);
    display: inline-block;
  }
  
  .node-finish {
    background-color: red;
  }
  
  .node-start {
    background-color: green;
  }
  
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: red;
      border-radius: 100%;
    }
  
    35% {
        
      background-color: rgba(217, 80, 17, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(217, 137, 0, 0.75);
    }
  
    90% {
      transform: scale(1);
      background-color: rgba(69, 69, 58, 0.75);
    }

    100%{
        transform: scale(1);
        background-color: rgb(90, 89, 89);
    }
  }
  
  .node-wall {
    background-color: rgb(154, 197, 216);
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: yellow;
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(255, 156, 106);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 38, 0);
    }
  }
  
  .node-shortest-path.node-start {
    background-color: green;
  }
  
  .node-shortest-path.node-finish {
    background-color: red;
  }
  